.footer{
  height: auto;
  padding: 3% 3%;
  background-color: rgb(26, 24, 24);
  color: #fff;
  font-family: 'Poppins',sans-serif;
}
.footer_sub{
  display: flex;
  justify-content: space-between;
}
.footerAboutUs{
  width: 30%;
}
.footerAboutUs .team{
  margin-bottom: 10px;
}
.footer_sub div{
  padding: 0 2.5%;
}
.footer_sub div img{
  width: 100%;
}
.footer h4{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer h5{
  font-size: 14px;
  font-weight: 400;
  margin: 3px;
}
.fontIcon{
  margin-top: 20px;
  text-align: center;
}
.fontIcon a{
  color: white;
}
.fontIcon i{
  font-size: 23px;
  margin: 15px 10px;
  cursor: pointer;
}
.fontIcon i:hover{
  transform: scale(1.2);
}
.footer h6{
  font-weight: 350;
  color: #fff;
  text-align: center;
}
.footer h6:hover{
  color: #fff;
}
@media (max-width:700px){
  .footer h4{
    font-size: 12px;
  }
  .footer h5{
    font-size: 10px;
  }
  .fontIcon i{
    margin: 8px;
    font-size: 14px;
  }
}