.changeDetails_form{
  display: flex;
  flex-direction: column;
}
.text-danger{
  font-size: 12.9px;
}
.changeDetails_form input{
  height: 30px;
  font-size: 14px;
}
.changeDetails_form label{
  font-weight: 500;
}
.changeDetails_form button{
  margin-top: 15px;
  width: 200px;
}