.confirm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.confirm img{
  width: 80px;
  margin-bottom: 25px;
}
.confirmation_box{
  padding: 5%;
  text-align: center;
}
.confirm button{
  margin: 30px;
}